@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0b192f;
  width: 100%;
  height: 100vh;
}

/* HOME PAGE */
nav {
  /* background-color: aquamarine; */
  /* position: ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem;
}
.logo {
  color: #64ffda;
}
.menu_items {
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  list-style: none;

  font-family: "Share Tech Mono", monospace;
  color: #64ffda;
}
.menu_items li {
  /* background-color: green; */
  padding: 0.5rem;
}
.introduction {
  /* background-color: bisque; */
  /* height: 60vh; */
  padding: 2rem;
  margin: 1rem;
}
.hi {
  font-family: "Share Tech Mono", monospace;
  color: #64ffda;
  font-size: 1rem;
  padding: 0.5rem;
}
.name {
  color: #ccd6f6;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.3rem;
}
.developer {
  color: #8892b0;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.3rem;
}
.technology {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 4rem;
  margin-bottom: 4rem;
}
.tech_head {
  color: #64ffda;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem;
}
.tech_name {
  color: #8892b0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
}
.projects {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 4rem;
  margin-bottom: 5rem;
}
.proj_head {
  color: #64ffda;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem;
}
.proj_info {
  color: #8892b0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
.projBtn {
  padding: 0.8rem;
  background-color: #0b192f;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: #64ffda;
  border: 1px solid #64ffda;
}
.blogs {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 4rem;
  margin-bottom: 4rem;
}
.blog_head {
  color: #64ffda;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem;
}
.blog_info {
  color: #8892b0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
.blogBtn {
  padding: 0.8rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  background-color: #0b192f;
  color: #64ffda;
  border: 1px solid #64ffda;
}
footer {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}
h5 {
  color: #64ffda;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem;
}
.mediaLink {
  display: flex;
  color: #8892b0;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
.github,
.twitter,
.linkedin {
  margin: 2rem;
}

/* project page */
.code_heading {
  /* background-color: #8892b0; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccd6f6;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.projectsPage {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 4rem;
  margin-bottom: 5rem;
}
.projPage_head {
  color: #64ffda;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem;
}
.projPage_info {
  color: #8892b0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
.projLinkBtn {
  width: 150px;
  padding: 0.8rem;
  background-color: #0b192f;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: #64ffda;
  border: 1px solid #64ffda;
}
